<!DOCTYPE html>
<html>
<!--
<head>
    <title>Exemplo</title>
</head>

<body>

    <h1>Musica</h1>
    <p>titulo: <span id="titulo"></span></p>
    <p>artista: <span id="artista"></span></p>
    <p>src: <span id="link"></span></p>
    <p>img: <span id="link_img"></span></p>
    <button onclick=""> teste</button>

</body>-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Projeto Player Spotify</title>
</head>
<body>
    <h2>Carregando as musicas</h2>
    <img src="/static/imagens/Boiadeira.jpg">

</body>
</html>